[data-md-color-scheme="custom_light_theme"] {
  --md-primary-fg-color:                #B80C09;
  --md-primary-fg-color--light:         #01BAEF;
  --md-primary-fg-color--dark:          #01BAEF;


  --md-accent-fg-color:                 #01BAEF;
  --md-accent-fg-color--transparent:    #ECECEC;
  --md-accent-bg-color:                 #01BAEF;
  --md-accent-bg-color--light           #01BAEF;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:                #040F16;
  --md-primary-fg-color--light:         #01BAEF;
  --md-primary-fg-color--dark:          #01BAEF;

  --md-accent-fg-color:                 #01BAEF;
  --md-accent-bg-color:                 #01BAEF;
  --md-accent-bg-color--light           #01BAEF;

  --md-hue: 220; 
}

